# b) Create two time series: one a count of movies released by month-year (Jan-1990, Feb-1990, etc.), the other those movies' average profitability. Plot both series either in two aligned subplots or in a single subplot with a secondary axis. (10 points)

In [1]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
movies = pd.read_csv("moviedata.csv", sep='\t')

In [3]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,03/09/12,John Carter,NaN,300000000,66439100,254439100
1,05/25/07,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425,960996492
2,12/13/13,The Hobbit: There and Back Again,New Line,270000000,Unknown,Unknown
3,12/14/12,The Hobbit: An Unexpected Journey,New Line,270000000,Unknown,Unknown
4,11/24/10,Tangled,Buena Vista,260000000,200821936,586581936

In [4]:
def make_date(date_str):
    '''
    Turn a MM/DD/YY string into a datetime object
    '''
    m, d, y = date_str.split("/")
    m = int(m)
    d = int(d)
    y = int(y)
    if y > 13:
        y += 1900
    else:
        y += 2000
    return dt.datetime(y, m, d)

In [8]:
movies = pd.read_csv("moviedata.csv", sep='\t', parse_dates=[0], date_parser=make_date)

In [9]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,2012-03-09,John Carter,NaN,300000000,66439100,254439100
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425,960996492
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,Unknown,Unknown
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,Unknown,Unknown
4,2010-11-24,Tangled,Buena Vista,260000000,200821936,586581936

In [11]:
movies.Release_Date.max()

Timestamp('2013-12-13 00:00:00')

In [12]:
movies.Release_Date.min()

Timestamp('1915-02-08 00:00:00')

In [15]:
del movies['Month_Year']

In [16]:
movies.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross
0,2012-03-09,John Carter,NaN,300000000,66439100,254439100
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425,960996492
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,Unknown,Unknown
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,Unknown,Unknown
4,2010-11-24,Tangled,Buena Vista,260000000,200821936,586581936